
CONFIG STEPPING="0";

# Connector J24

NET "TESTOUT_PAD_P<0>" LOC = D2;  # pin 5
NET "TESTOUT_PAD_N<0>" LOC = D1;  # pin 6
NET "TESTOUT_PAD_P<1>" LOC = G10;  # pin 9
NET "TESTOUT_PAD_N<1>" LOC = G9;  # pin 10
NET "TESTOUT_PAD_P<2>" LOC = E3;  # pin 15
NET "TESTOUT_PAD_N<2>" LOC = E2;  # pin 16
NET "TESTOUT_PAD_P<3>" LOC = B6;  # pin 17
NET "TESTOUT_PAD_N<3>" LOC = C6;  # pin 18
# NET "TESTOUT_PAD_P<4>" LOC = V4;  # pin 19
# NET "TESTOUT_PAD_N<4>" LOC = U4;  # pin 20
NET "TESTOUT_PAD_P<4>" LOC = N7;  # pin 23
NET "TESTOUT_PAD_N<4>" LOC = M7;  # pin 24
NET "TESTOUT_PAD_P<5>" LOC = C4;  # pin 25
NET "TESTOUT_PAD_N<5>" LOC = D4;  # pin 26
NET "TESTOUT_PAD_P<6>" LOC = M6;  # pin 27
NET "TESTOUT_PAD_N<6>" LOC = M5;  # pin 28
NET "TESTOUT_PAD_P<7>" LOC = M4;  # pin 29
NET "TESTOUT_PAD_N<7>" LOC = M3;  # pin 30
NET "TESTOUT_PAD_P<8>" LOC = E1;  # pin 35
NET "TESTOUT_PAD_N<8>" LOC = F1;  # pin 36
NET "TESTOUT_PAD_P<9>" LOC = F4;  # pin 37
NET "TESTOUT_PAD_N<9>" LOC = F3;  # pin 38
NET "TESTOUT_PAD_P<10>" LOC = L7;  # pin 39
NET "TESTOUT_PAD_N<10>" LOC = L6;  # pin 40
NET "TESTOUT_PAD_P<11>" LOC = G4;  # pin 43
NET "TESTOUT_PAD_N<11>" LOC = G3;  # pin 44
NET "TESTOUT_PAD_P<12>" LOC = K7;  # pin 45
NET "TESTOUT_PAD_N<12>" LOC = K6;  # pin 46
NET "TESTOUT_PAD_P<13>" LOC = K5;  # pin 47
NET "TESTOUT_PAD_N<13>" LOC = K4;  # pin 48
NET "TESTOUT_PAD_P<14>" LOC = K3;  # pin 49
NET "TESTOUT_PAD_N<14>" LOC = K2;  # pin 50

# Connector J21

NET "TESTIN_PAD_P<0>" LOC = C2;   # pin 5
NET "TESTIN_PAD_N<0>" LOC = C1;   # pin 6
NET "TESTIN_PAD_P<1>" LOC = H8;   # pin 9
NET "TESTIN_PAD_N<1>" LOC = H7;   # pin 10
NET "TESTIN_PAD_P<2>" LOC = G6;   # pin 15
NET "TESTIN_PAD_N<2>" LOC = G5;   # pin 16
NET "TESTIN_PAD_P<3>" LOC = F8;   # pin 17
NET "TESTIN_PAD_N<3>" LOC = G8;   # pin 18
# NET "TESTIN_PAD_P<4>" LOC = V4;   # pin 19
# NET "TESTIN_PAD_N<4>" LOC = U4;   # pin 20
NET "TESTIN_PAD_P<4>" LOC = H6;   # pin 23
NET "TESTIN_PAD_N<4>" LOC = H5;   # pin 24
NET "TESTIN_PAD_P<5>" LOC = G2;   # pin 25
NET "TESTIN_PAD_N<5>" LOC = G1;   # pin 26
NET "TESTIN_PAD_P<6>" LOC = H4;   # pin 27
NET "TESTIN_PAD_N<6>" LOC = H3;   # pin 28
NET "TESTIN_PAD_P<7>" LOC = H2;   # pin 29
NET "TESTIN_PAD_N<7>" LOC = H1;   # pin 30
NET "TESTIN_PAD_P<8>" LOC = J5;   # pin 35
NET "TESTIN_PAD_N<8>" LOC = J4;   # pin 36
NET "TESTIN_PAD_P<9>" LOC = J7;   # pin 37
NET "TESTIN_PAD_N<9>" LOC = J6;   # pin 38
NET "TESTIN_PAD_P<10>" LOC = L1;   # pin 39
NET "TESTIN_PAD_N<10>" LOC = K1;   # pin 40
NET "TESTIN_PAD_P<11>" LOC = C5;   # pin 43
NET "TESTIN_PAD_N<11>" LOC = D5;   # pin 44
NET "TESTIN_PAD_P<12>" LOC = A9;   # pin 45
NET "TESTIN_PAD_N<12>" LOC = B9;   # pin 46
NET "TESTIN_PAD_P<13>" LOC = E13;   # pin 47
NET "TESTIN_PAD_N<13>" LOC = D12;   # pin 48
NET "TESTIN_PAD_P<14>" LOC = L4;   # pin 49
NET "TESTIN_PAD_N<14>" LOC = L3;   # pin 50

NET "CLK15NS_PAD" LOC = AD17;
NET "CLK15NS_PAD" CLOCK_DEDICATED_ROUTE = TRUE;

NET "CLK5MHZ_PAD" LOC = AF7;
NET "CLK5MHZ_PAD" CLOCK_DEDICATED_ROUTE = TRUE;

NET "DEBUG_PORT_PAD<7>" LOC = T21;
NET "DEBUG_PORT_PAD<6>" LOC = P23;
NET "DEBUG_PORT_PAD<5>" LOC = P25;
NET "DEBUG_PORT_PAD<4>" LOC = AD19;
NET "DEBUG_PORT_PAD<3>" LOC = T20;
NET "DEBUG_PORT_PAD<2>" LOC = P22;
NET "DEBUG_PORT_PAD<1>" LOC = P24;
NET "DEBUG_PORT_PAD<0>" LOC = AC19;

NET "LED_PAD(0)" LOC = R24;
NET "LED_PAD(1)" LOC = R23;

NET "JUMPER_PAD<7>" LOC = T1;
NET "JUMPER_PAD<6>" LOC = U7;
NET "JUMPER_PAD<5>" LOC = T8;
NET "JUMPER_PAD<4>" LOC = V1;
NET "JUMPER_PAD<3>" LOC = V2;
NET "JUMPER_PAD<2>" LOC = N4;
NET "JUMPER_PAD<1>" LOC = N5;
NET "JUMPER_PAD<0>" LOC = N3;

NET "UART_TX_PAD" LOC = Y22;
NET "UART_RX_PAD" LOC = AD26;

NET "GMII_TXER_PAD" LOC = W22;
NET "GMII_TXEN_PAD" LOC = AC24;
NET "GMII_RESET_PAD" LOC = AA26;
NET "GMII_TXD_PAD<7>" LOC = V21;
NET "GMII_TXD_PAD<6>" LOC = V22;
NET "GMII_TXD_PAD<5>" LOC = W25;
NET "GMII_TXD_PAD<4>" LOC = W26;
NET "GMII_TXD_PAD<3>" LOC = AC22;
NET "GMII_TXD_PAD<2>" LOC = AB22;
NET "GMII_TXD_PAD<1>" LOC = AB23;
NET "GMII_TXD_PAD<0>" LOC = AA23;
NET "GMII_TXCLK_PAD" LOC = AD23;
NET "GMII_RXER_PAD" LOC = W21;
NET "GMII_RXDV_PAD" LOC = AC23;
NET "GMII_RXDV_PAD" CLOCK_DEDICATED_ROUTE = FALSE;
NET "GMII_RXD_PAD<7>" LOC = AB24;
NET "GMII_RXD_PAD<6>" LOC = AB25;
NET "GMII_RXD_PAD<5>" LOC = Y25;
NET "GMII_RXD_PAD<4>" LOC = Y26;
NET "GMII_RXD_PAD<3>" LOC = W20;
NET "GMII_RXD_PAD<2>" LOC = V20;
NET "GMII_RXD_PAD<1>" LOC = W23;
NET "GMII_RXD_PAD<0>" LOC = W24;
NET "GMII_RXCLK_PAD" LOC = AD12;
NET "GMII_RXCLK_PAD" CLOCK_DEDICATED_ROUTE = TRUE;
INST "GMII_RXDV_PAD" TNM = GMII_RXGRP;
INST "GMII_RXD_PAD<0>" TNM = GMII_RXGRP;
INST "GMII_RXD_PAD<1>" TNM = GMII_RXGRP;
INST "GMII_RXD_PAD<2>" TNM = GMII_RXGRP;
INST "GMII_RXD_PAD<3>" TNM = GMII_RXGRP;
INST "GMII_RXD_PAD<4>" TNM = GMII_RXGRP;
INST "GMII_RXD_PAD<5>" TNM = GMII_RXGRP;
INST "GMII_RXD_PAD<6>" TNM = GMII_RXGRP;
INST "GMII_RXD_PAD<7>" TNM = GMII_RXGRP;
INST "GMII_RXER_PAD" TNM = GMII_RXGRP;

# GMII interface clocks.  RXCLK is used to drive TXCLK.
INST "GMII_RXD_PAD*" TNM = "TG_RX";
INST "GMII_RXER_PAD" TNM = "TG_RX";
INST "GMII_RXDV_PAD" TNM = "TG_RX";
NET "gmii_rxclk_pad" TNM_NET = "TN_RXCLK";
TIMESPEC "TS_RXCLK" = PERIOD "TN_RXCLK" 8 ns HIGH 50%;
TIMEGRP "TG_RX" OFFSET = IN 4 ns VALID 8 NS BEFORE "gmii_rxclk_pad" RISING;

# The 5 MHz input clock is used for the SPI interface...
NET "clk5mhz_pad" TNM_NET = "TN_CLK5MHZ";
TIMESPEC "TS_CLK5MHZ" = PERIOD "TN_CLK5MHZ" 5 MHZ HIGH 50%;

# The 15 ns clock drives the core and the FSSR2 clocks
NET "clk15ns_pad" TNM_NET = "TN_CLK15NS";
TIMESPEC "TS_CLK15NS" = PERIOD "TN_CLK15NS" 15 ns HIGH 50%;
