
CONFIG STEPPING="0";

NET "CLK15NS_PAD" LOC = AD17;
NET "CLK15NS_PAD" CLOCK_DEDICATED_ROUTE = TRUE;

NET "CLK5MHZ_PAD" LOC = AF7;
NET "CLK5MHZ_PAD" CLOCK_DEDICATED_ROUTE = TRUE;

NET "DEBUG_PORT_PAD<7>" LOC = T21;
NET "DEBUG_PORT_PAD<6>" LOC = P23;
NET "DEBUG_PORT_PAD<5>" LOC = P25;
NET "DEBUG_PORT_PAD<4>" LOC = AD19;
NET "DEBUG_PORT_PAD<3>" LOC = T20;
NET "DEBUG_PORT_PAD<2>" LOC = P22;
NET "DEBUG_PORT_PAD<1>" LOC = P24;
NET "DEBUG_PORT_PAD<0>" LOC = AC19;

NET "LED_PAD(0)" LOC = R24;
NET "LED_PAD(1)" LOC = R23;

NET "JUMPER_PAD<7>" LOC = T1;
NET "JUMPER_PAD<6>" LOC = U7;
NET "JUMPER_PAD<5>" LOC = T8;
NET "JUMPER_PAD<4>" LOC = V1;
NET "JUMPER_PAD<3>" LOC = V2;
NET "JUMPER_PAD<2>" LOC = N4;
NET "JUMPER_PAD<1>" LOC = N5;
NET "JUMPER_PAD<0>" LOC = N3;

#
#  Connector J4 - STIB Channel 5
#
NET "PIXEL_PCLKB_PAD_P" LOC = AF24;        # pin 13
NET "PIXEL_PCLKB_PAD_N" LOC = AE24;        # pin 14
NET "PIXEL_I2C_PAD_P<0>" LOC = A20;        # pin 35
NET "PIXEL_I2C_PAD_N<0>" LOC = A19;        # pin 36
NET "PIXEL_RESET_PAD<0>" LOC = J21;        # pin 43
NET "PIXEL_TOKIN_PAD_P<0>" LOC = K24;      # pin 39
NET "PIXEL_TOKIN_PAD_N<0>" LOC = K23;      # pin 40
NET "PIXEL_TOKOUT_PAD_P<0>" LOC = J23;     # pin 45
NET "PIXEL_TOKOUT_PAD_N<0>" LOC = J22;     # pin 46
NET "PIXEL_TRIG_PAD_P<0>" LOC = E21;       # pin 37
NET "PIXEL_TRIG_PAD_N<0>" LOC = D21;       # pin 38
NET "PIXEL_DATA_PAD_P<0>" LOC = D24;       # pin 27
NET "PIXEL_DATA_PAD_N<0>" LOC = C24;       # pin 28
NET "PIXEL_ADDR0_PAD<0>" LOC = D22;        # pin 33
NET "PIXEL_ADDR1_PAD<0>" LOC = C22;        # pin 34
NET "PIXEL_ADDR2_PAD<0>" LOC = H26;        # pin 49
NET "PIXEL_ADDR3_PAD<0>" LOC = H25;        # pin 50
#
#  Connector J21 - STIB Channel 6
#
NET "PIXEL_PCLKA_PAD_P" LOC = AA7;         # pin 13
NET "PIXEL_PCLKA_PAD_N" LOC = Y7;          # pin 14
NET "PIXEL_I2C_PAD_P<1>" LOC = J5;         # pin 35
NET "PIXEL_I2C_PAD_N<1>" LOC = J4;         # pin 36
NET "PIXEL_RESET_PAD<1>" LOC = C5;         # pin 43
NET "PIXEL_TOKIN_PAD_P<1>" LOC = L1;       # pin 39
NET "PIXEL_TOKIN_PAD_N<1>" LOC = K1;       # pin 40
NET "PIXEL_TOKOUT_PAD_P<1>" LOC = A9;      # pin 45
NET "PIXEL_TOKOUT_PAD_N<1>" LOC = B9;      # pin 46
NET "PIXEL_TRIG_PAD_P<1>" LOC = J7;        # pin 37
NET "PIXEL_TRIG_PAD_N<1>" LOC = J6;        # pin 38
NET "PIXEL_DATA_PAD_P<1>" LOC = H4;        # pin 27
NET "PIXEL_DATA_PAD_N<1>" LOC = H3;        # pin 28
NET "PIXEL_ADDR0_PAD<1>" LOC = J2;         # pin 33
NET "PIXEL_ADDR1_PAD<1>" LOC = J1;         # pin 34
NET "PIXEL_ADDR2_PAD<1>" LOC = L4;         # pin 49
NET "PIXEL_ADDR3_PAD<1>" LOC = L3;         # pin 50
#
#  Connector J20 - STIB Channel 5
#
# NET "PIXEL_PCLK_PAD_P" LOC = AA7;
# NET "PIXEL_PCLK_PAD_N" LOC = Y7;
# NET "PIXEL_I2C_PAD_P<0>" LOC = R6;
# NET "PIXEL_I2C_PAD_N<0>" LOC = R5;
# NET "PIXEL_RESET_PAD<0>" LOC = P7;
# NET "PIXEL_TOKIN_PAD_P<0>" LOC = AC6;    # failed to map
# NET "PIXEL_TOKIN_PAD_N<0>" LOC = AB6;    # failed to map
# NET "PIXEL_TOKOUT_PAD_P<0>" LOC = U20;
# NET "PIXEL_TOKOUT_PAD_N<0>" LOC = T19;
# NET "PIXEL_TRIG_PAD_P<0>" LOC = R2;
# NET "PIXEL_TRIG_PAD_N<0>" LOC = R1;
# NET "PIXEL_DATA_PAD_P<0>" LOC = T4;
# NET "PIXEL_DATA_PAD_N<0>" LOC = T3;
#
#  Connector J24 - STIB Channel 7
#
# NET "PIXEL_PCLK_PAD_P" LOC = AA7;
# NET "PIXEL_PCLK_PAD_N" LOC = Y7;
# NET "PIXEL_I2C_PAD_P<0>" LOC = E1;
# NET "PIXEL_I2C_PAD_N<0>" LOC = F1;
# NET "PIXEL_RESET_PAD<0>" LOC = G4;
# NET "PIXEL_TOKIN_PAD_P<0>" LOC = L7;
# NET "PIXEL_TOKIN_PAD_N<0>" LOC = L6;
# NET "PIXEL_TOKOUT_PAD_P<0>" LOC = K7;
# NET "PIXEL_TOKOUT_PAD_N<0>" LOC = K6;
# NET "PIXEL_TRIG_PAD_P<0>" LOC = F4;
# NET "PIXEL_TRIG_PAD_N<0>" LOC = F3;
# NET "PIXEL_DATA_PAD_P<0>" LOC = M6;
# NET "PIXEL_DATA_PAD_N<0>" LOC = M5;
#
#  Connector J8 - STIB Channel 2
#
# NET "PIXEL_PCLK_PAD_P" LOC = AA7;
# NET "PIXEL_PCLK_PAD_N" LOC = Y7;
# NET "PIXEL_I2C_PAD_P<0>" LOC = AF21;
# NET "PIXEL_I2C_PAD_N<0>" LOC = AF22;
# NET "PIXEL_RESET_PAD<0>" LOC = AB20;
# NET "PIXEL_TOKIN_PAD_P<0>" LOC = AB13;   # failed to map
# NET "PIXEL_TOKIN_PAD_N<0>" LOC = AA13;   # failed to map
# NET "PIXEL_TOKOUT_PAD_P<0>" LOC = AC14;
# NET "PIXEL_TOKOUT_PAD_N<0>" LOC = AD14;
# NET "PIXEL_TRIG_PAD_P<0>" LOC = AC18;
# NET "PIXEL_TRIG_PAD_N<0>" LOC = AB18;
# NET "PIXEL_DATA_PAD_P<0>" LOC = AE21;
# NET "PIXEL_DATA_PAD_N<0>" LOC = AD21;
NET "UART_TX_PAD" LOC = Y22;
# NET "UART_RTS_PAD LOC = AD25;
NET "UART_RX_PAD" LOC = AD26;
# NET "UART_CTS_PAD LOC = Y23;
#
#  External clock and trigger inputs on connector J49
#
# NET "EXT_CLK_PAD_P" LOC = F18;
# NET "EXT_CLK_PAD_N" LOC = E18;
# NET "EXT_CLK_PAD_P" CLOCK_DEDICATED_ROUTE = FALSE;
# NET "EXT_CLK_PAD_N" CLOCK_DEDICATED_ROUTE = FALSE;
# NET "EXT_TRIG_PAD_P" LOC = F26;
# NET "EXT_TRIG_PAD_N" LOC = E26;
#
#  These bring in the external clock and trigger
#  The clock is received
#  on one J1 and fanned out to J2 and J27.
#
NET "SCINT_TRIG_PAD_P" LOC = F26;
NET "SCINT_TRIG_PAD_N" LOC = E26;
NET "BDCLK_IN_PAD_P" LOC = F18;
NET "BDCLK_IN_PAD_N" LOC = E18;
NET "BDCLK_IN_PAD_P" CLOCK_DEDICATED_ROUTE = FALSE;
NET "BDCLK_IN_PAD_N" CLOCK_DEDICATED_ROUTE = FALSE;

NET "OTHER_P<0>" LOC = E6;
NET "OTHER_N<0>" LOC = E5;
NET "OTHER_P<1>" LOC = A9;
NET "OTHER_N<1>" LOC = B9;
NET "OTHER_P<2>" LOC = H8;
NET "OTHER_N<2>" LOC = H7;
NET "OTHER_P<3>" LOC = G6;
NET "OTHER_N<3>" LOC = G5;
NET "OTHER_P<4>" LOC = E3;
NET "OTHER_N<4>" LOC = E2;
NET "OTHER_P<5>" LOC = F8;
NET "OTHER_N<5>" LOC = G8;
NET "OTHER_P<6>" LOC = B7;
NET "OTHER_N<6>" LOC = C7;
NET "OTHER_P<7>" LOC = C5;
NET "OTHER_N<7>" LOC = D5;

NET "BDCLK_OUT_PAD_P<0>" LOC = H24;
NET "BDCLK_OUT_PAD_N<0>" LOC = H23;
NET "CMD_OUT_PAD_P<0>" LOC = G26;
NET "CMD_OUT_PAD_N<0>" LOC = G25;
NET "BDCLK_OUT_PAD_P<1>" LOC = V6;
NET "BDCLK_OUT_PAD_N<1>" LOC = V5;
NET "CMD_OUT_PAD_P<1>" LOC = AC5;
NET "CMD_OUT_PAD_N<1>" LOC = AB5;
NET "BDCLK_OUT_PAD_P<2>" LOC = AE7;
NET "BDCLK_OUT_PAD_N<2>" LOC = AD7;
NET "CMD_OUT_PAD_P<2>" LOC = W2;
NET "CMD_OUT_PAD_N<2>" LOC = W1;
# NET "BDCLK_OUT_PAD_P<3>" LOC = F18;
# NET "BDCLK_OUT_PAD_N<3>" LOC = E18;
# NET "CMD_OUT_PAD_P<3>" LOC = F26;
# NET "CMD_OUT_PAD_N<3>" LOC = E26;
NET "GMII_TXER_PAD" LOC = W22;
NET "GMII_TXEN_PAD" LOC = AC24;
NET "GMII_RESET_PAD" LOC = AA26;
NET "GMII_TXD_PAD<7>" LOC = V21;
NET "GMII_TXD_PAD<6>" LOC = V22;
NET "GMII_TXD_PAD<5>" LOC = W25;
NET "GMII_TXD_PAD<4>" LOC = W26;
NET "GMII_TXD_PAD<3>" LOC = AC22;
NET "GMII_TXD_PAD<2>" LOC = AB22;
NET "GMII_TXD_PAD<1>" LOC = AB23;
NET "GMII_TXD_PAD<0>" LOC = AA23;
NET "GMII_TXCLK_PAD" LOC = AD23;
NET "GMII_RXER_PAD" LOC = W21;
NET "GMII_RXDV_PAD" LOC = AC23;
NET "GMII_RXDV_PAD" CLOCK_DEDICATED_ROUTE = FALSE;
NET "GMII_RXD_PAD<7>" LOC = AB24;
NET "GMII_RXD_PAD<6>" LOC = AB25;
NET "GMII_RXD_PAD<5>" LOC = Y25;
NET "GMII_RXD_PAD<4>" LOC = Y26;
NET "GMII_RXD_PAD<3>" LOC = W20;
NET "GMII_RXD_PAD<2>" LOC = V20;
NET "GMII_RXD_PAD<1>" LOC = W23;
NET "GMII_RXD_PAD<0>" LOC = W24;
NET "GMII_RXCLK_PAD" LOC = AD12;
NET "GMII_RXCLK_PAD" CLOCK_DEDICATED_ROUTE = TRUE;
INST "GMII_RXDV_PAD" TNM = GMII_RXGRP;
INST "GMII_RXD_PAD<0>" TNM = GMII_RXGRP;
INST "GMII_RXD_PAD<1>" TNM = GMII_RXGRP;
INST "GMII_RXD_PAD<2>" TNM = GMII_RXGRP;
INST "GMII_RXD_PAD<3>" TNM = GMII_RXGRP;
INST "GMII_RXD_PAD<4>" TNM = GMII_RXGRP;
INST "GMII_RXD_PAD<5>" TNM = GMII_RXGRP;
INST "GMII_RXD_PAD<6>" TNM = GMII_RXGRP;
INST "GMII_RXD_PAD<7>" TNM = GMII_RXGRP;
INST "GMII_RXER_PAD" TNM = GMII_RXGRP;

#
#  placement constraints...
#
# INST "tlk_imp/tlkclk_dcm" LOC = "DCM_ADV_X0Y1" ;
# This is for the TLK3101 interface
NET "TLK_TXD_PAD<0>" LOC = D10;
NET "TLK_TXD_PAD<1>" LOC = D9;
NET "TLK_TXD_PAD<2>" LOC = A8;
NET "TLK_TXD_PAD<3>" LOC = D8;
NET "TLK_TXD_PAD<4>" LOC = F10;
NET "TLK_TXD_PAD<5>" LOC = A6;
NET "TLK_TXD_PAD<6>" LOC = E9;
NET "TLK_TXD_PAD<7>" LOC = E7;
NET "TLK_TXD_PAD<8>" LOC = C8;
NET "TLK_TXD_PAD<9>" LOC = A7;
NET "TLK_TXD_PAD<10>" LOC = D7;
NET "TLK_TXD_PAD<11>" LOC = E10;
NET "TLK_TXD_PAD<12>" LOC = A5;
NET "TLK_TXD_PAD<13>" LOC = F9;
NET "TLK_TXD_PAD<14>" LOC = D6;
NET "TLK_TXD_PAD<15>" LOC = G7;
NET "TLK_GTX_CLK_PAD" LOC = C10;
NET "TLK_LCKREFN_PAD" LOC = D15;
NET "TLK_PREM_PAD" LOC = D16;
NET "TLK_TXEN_PAD" LOC = C16;
NET "TLK_TXER_PAD" LOC = C11;
NET "TLK_ENABLE_PAD" LOC = E14;
NET "TLK_LOOPEN_PAD" LOC = D11;
NET "TLK_PRBSEN_PAD" LOC = D13;
NET "TLK_TESTEN_PAD" LOC = D14;
NET "TLK_RXER_PAD" LOC = F15;
NET "TLK_RXDV_PAD" LOC = F16;
NET "TLK_RXCLK_PAD" LOC = C15;
NET "TLK_RXD_PAD<0>" LOC = C17;
NET "TLK_RXD_PAD<1>" LOC = C20;
NET "TLK_RXD_PAD<2>" LOC = B18;
NET "TLK_RXD_PAD<3>" LOC = D20;
NET "TLK_RXD_PAD<4>" LOC = C21;
NET "TLK_RXD_PAD<5>" LOC = E17;
NET "TLK_RXD_PAD<6>" LOC = C19;
NET "TLK_RXD_PAD<7>" LOC = G19;
NET "TLK_RXD_PAD<8>" LOC = D17;
NET "TLK_RXD_PAD<9>" LOC = B20;
NET "TLK_RXD_PAD<10>" LOC = A18;
NET "TLK_RXD_PAD<11>" LOC = D19;
NET "TLK_RXD_PAD<12>" LOC = B21;
NET "TLK_RXD_PAD<13>" LOC = F17;
NET "TLK_RXD_PAD<14>" LOC = D18;
NET "TLK_RXD_PAD<15>" LOC = F19;
NET "TLK_RXCLK_PAD" CLOCK_DEDICATED_ROUTE = FALSE;
NET "SFP_ENABLEN_PAD" LOC = G22;
NET "SFP_TXDIS_PAD" LOC = B24;
NET "SFP_RS_PAD" LOC = G21;
NET "SFP_TXFAULT_PAD" LOC = E24;
NET "SFP_MODABS_PAD" LOC = E25;
NET "SFP_LOS_PAD" LOC = B23;

# GMII interface clocks.  RXCLK is used to drive TXCLK.
INST "GMII_RXD_PAD*" TNM = "TG_RX";
INST "GMII_RXER_PAD" TNM = "TG_RX";
INST "GMII_RXDV_PAD" TNM = "TG_RX";
NET "gmii_rxclk_pad" TNM_NET = "TN_RXCLK";
TIMEGRP "TG_RX" OFFSET = IN 4 ns VALID 8 NS BEFORE "GMII_RXCLK_PAD" RISING;
NET "gmii_rxclk_pad" TNM_NET = gmii_rxclk_pad;
TIMESPEC TS_gmii_rxclk_pad = PERIOD "gmii_rxclk_pad" 8 ns HIGH 50%;

# The 15 ns clock drives the core and the FSSR2 clocks
NET "clk15ns_pad" TNM_NET = "TN_CLK15NS";
TIMESPEC "TS_CLK15NS" = PERIOD "TN_CLK15NS" 15 ns HIGH 50%;

# The 5 MHz input clock is used for the SPI interface...
NET "clk5mhz_pad" TNM_NET = "TN_CLK5MHZ";

NET "bdclk_in_pad_p" TNM_NET = bdclk_in_pad_p;
TIMESPEC TS_bdclk_in_pad_p = PERIOD "bdclk_in_pad_p" 37 ns HIGH 50%;

NET "tlk_rxclk_pad" TNM_NET = tlk_rxclk_pad;
TIMESPEC TS_tlk_rxclk_pad = PERIOD "tlk_rxclk_pad" 8 ns HIGH 50%;
TIMESPEC TS_GTXCLK_TO_BUSCLK = FROM "tlk_imp_tlkclk_clkfx" TO "TN_CLK15NS" TIG;
TIMESPEC TS_BUSCLK_TO_GTXCLK = FROM "TN_CLK15NS" TO "tlk_imp_tlkclk_clkfx" TIG;
#Created by Constraints Editor (xc4vlx25-ff668-10) - 2014/07/31
# TIMESPEC TS_bdclk_to_rxclk = FROM "bdclk_in_pad_p" TO "TN_RXCLK" TIG;
# TIMESPEC TS_rxclk_to_bdclk = FROM "TN_RXCLK" TO "bdclk_in_pad_p" TIG;
#Created by Constraints Editor (xc4vlx25-ff668-10) - 2014/08/07
TIMESPEC TS_bcoclk_to_busclk = FROM "pixel_imp_pixelclk_imp_dcm_sclk_fx" TO "TN_CLK15NS" TIG;
TIMESPEC TS_busclk_to_bcoclk = FROM "TN_CLK15NS" TO "pixel_imp_pixelclk_imp_dcm_sclk_fx" TIG;
#Created by Constraints Editor (xc4vlx25-ff668-10) - 2014/08/07
#Created by Constraints Editor (xc4vlx25-ff668-10) - 2014/08/07
# TIMESPEC TS_bdclk_to_pclk = FROM "bdclk_in_pad_p" TO "pixel_imp_pixelclk_imp_dcm_sclk_fx" TIG;
#Created by Constraints Editor (xc4vlx25-ff668-10) - 2014/08/08
TIMESPEC TS_bdclk_to_tlkclk = FROM "bdclk_in_pad_p" TO "tlk_imp_tlkclk_clkfx" TIG;
TIMESPEC TS_tlkclk_to_bdclk = FROM "tlk_imp_tlkclk_clkfx" TO "bdclk_in_pad_p" TIG;
#Created by Constraints Editor (xc4vlx25-ff668-10) - 2014/08/10
NET "pixel_pclk" TNM_NET = "TN_pixel_pclk" ;
NET "tlk_gtx_clk" TNM_NET = "TN_tlk_gtx_clk" ;
TIMESPEC TS_pclk_to_gtxclk = FROM "TN_pixel_pclk" TO "TN_tlk_gtx_clk" TIG;
#Created by Constraints Editor (xc4vlx25-ff668-10) - 2014/08/14
TIMESPEC TS_pclk_to_busclk = FROM "TN_pixel_pclk" TO "TN_CLK15NS" TIG;
TIMESPEC TS_bdclk_to_pclk = FROM "bdclk_in_pad_p" TO "TN_pixel_pclk" TIG;
