
######################################################################################
# GLOBAL CLOCK NET DISTRIBUTION UCF REPORT:
#
# Number of Global Clock Regions : 10
# Number of Global Clock Networks: 14
#
# Clock Region Assignment: SUCCESSFUL

# Location of Clock Components
INST "XLXI_6330/clkout1_buf" LOC = "BUFGCTRL_X0Y3" ;
INST "XLXI_6330/clkout4_buf" LOC = "BUFGCTRL_X0Y4" ;
INST "XLXI_6330/clkf_buf" LOC = "BUFGCTRL_X0Y5" ;
INST "XLXI_6330/clkout2_buf" LOC = "BUFGCTRL_X0Y6" ;
INST "XLXI_6330/clkout3_buf" LOC = "BUFGCTRL_X0Y7" ;
INST "XLXI_6330/clkout5_buf" LOC = "BUFGCTRL_X0Y8" ;
INST "XLXI_6330/clkin1_buf" LOC = "BUFGCTRL_X0Y28" ;
INST "XLXI_4529" LOC = "BUFGCTRL_X0Y1" ;
INST "XLXI_6192" LOC = "BUFGCTRL_X0Y29" ;
INST "XLXI_6087" LOC = "BUFGCTRL_X0Y30" ;
INST "XLXI_6072" LOC = "BUFGCTRL_X0Y31" ;
INST "MASTER_CLK_BUFG" LOC = "BUFGCTRL_X0Y0" ;
INST "XLXI_3411" LOC = "BUFGCTRL_X0Y2" ;
INST "GEL_RXCLK" LOC = "Y30" ;
INST "XLXI_6330/mmcm_adv_inst" LOC = "MMCME2_ADV_X0Y0" ;
INST "XLXI_6292" LOC = "MMCME2_ADV_X0Y2" ;
INST "XLXI_3410" LOC = "MMCME2_ADV_X0Y1" ;

# PSI_CLK0 driven by BUFGCTRL_X0Y3
NET "PSI_CLK0" TNM_NET = "TN_PSI_CLK0" ;
TIMEGRP "TN_PSI_CLK0" AREA_GROUP = "CLKAG_PSI_CLK0" ;
AREA_GROUP "CLKAG_PSI_CLK0" RANGE =   CLOCKREGION_X0Y0, CLOCKREGION_X1Y0, CLOCKREGION_X0Y1, CLOCKREGION_X1Y1, CLOCKREGION_X0Y2, CLOCKREGION_X1Y2, CLOCKREGION_X0Y3, CLOCKREGION_X1Y3, CLOCKREGION_X0Y4, CLOCKREGION_X1Y4 ;

# internal_4x_clk driven by BUFGCTRL_X0Y4
NET "internal_4x_clk" TNM_NET = "TN_internal_4x_clk" ;
TIMEGRP "TN_internal_4x_clk" AREA_GROUP = "CLKAG_internal_4x_clk" ;
AREA_GROUP "CLKAG_internal_4x_clk" RANGE =   CLOCKREGION_X0Y0, CLOCKREGION_X1Y0, CLOCKREGION_X0Y1, CLOCKREGION_X1Y1, CLOCKREGION_X0Y2, CLOCKREGION_X1Y2, CLOCKREGION_X0Y3, CLOCKREGION_X1Y3, CLOCKREGION_X0Y4, CLOCKREGION_X1Y4 ;

# XLXI_6330/clkfbout_buf driven by BUFGCTRL_X0Y5
NET "XLXI_6330/clkfbout_buf" TNM_NET = "TN_XLXI_6330/clkfbout_buf" ;
TIMEGRP "TN_XLXI_6330/clkfbout_buf" AREA_GROUP = "CLKAG_XLXI_6330/clkfbout_buf" ;
AREA_GROUP "CLKAG_XLXI_6330/clkfbout_buf" RANGE =   CLOCKREGION_X0Y0, CLOCKREGION_X1Y0 ;

# PSI_CLK90 driven by BUFGCTRL_X0Y6
NET "PSI_CLK90" TNM_NET = "TN_PSI_CLK90" ;
TIMEGRP "TN_PSI_CLK90" AREA_GROUP = "CLKAG_PSI_CLK90" ;
AREA_GROUP "CLKAG_PSI_CLK90" RANGE =   CLOCKREGION_X0Y0, CLOCKREGION_X1Y0, CLOCKREGION_X0Y1, CLOCKREGION_X1Y1, CLOCKREGION_X0Y2, CLOCKREGION_X1Y2, CLOCKREGION_X0Y3, CLOCKREGION_X1Y3, CLOCKREGION_X0Y4, CLOCKREGION_X1Y4 ;

# PSI_CLK270 driven by BUFGCTRL_X0Y7
NET "PSI_CLK270" TNM_NET = "TN_PSI_CLK270" ;
TIMEGRP "TN_PSI_CLK270" AREA_GROUP = "CLKAG_PSI_CLK270" ;
AREA_GROUP "CLKAG_PSI_CLK270" RANGE =   CLOCKREGION_X0Y0, CLOCKREGION_X1Y0, CLOCKREGION_X0Y1, CLOCKREGION_X1Y1, CLOCKREGION_X0Y2, CLOCKREGION_X1Y2, CLOCKREGION_X0Y3, CLOCKREGION_X1Y3, CLOCKREGION_X0Y4, CLOCKREGION_X1Y4 ;

# internal_4x180_clk driven by BUFGCTRL_X0Y8
NET "internal_4x180_clk" TNM_NET = "TN_internal_4x180_clk" ;
TIMEGRP "TN_internal_4x180_clk" AREA_GROUP = "CLKAG_internal_4x180_clk" ;
AREA_GROUP "CLKAG_internal_4x180_clk" RANGE =   CLOCKREGION_X0Y0, CLOCKREGION_X1Y0, CLOCKREGION_X0Y1, CLOCKREGION_X1Y1, CLOCKREGION_X0Y2, CLOCKREGION_X1Y2, CLOCKREGION_X0Y3, CLOCKREGION_X1Y3, CLOCKREGION_X0Y4, CLOCKREGION_X1Y4 ;

# XLXI_6330/clkin1 driven by BUFGCTRL_X0Y28
NET "XLXI_6330/clkin1" TNM_NET = "TN_XLXI_6330/clkin1" ;
TIMEGRP "TN_XLXI_6330/clkin1" AREA_GROUP = "CLKAG_XLXI_6330/clkin1" ;
AREA_GROUP "CLKAG_XLXI_6330/clkin1" RANGE =   CLOCKREGION_X0Y0, CLOCKREGION_X1Y0 ;

# XLXN_15064 driven by BUFGCTRL_X0Y1
NET "XLXN_15064" TNM_NET = "TN_XLXN_15064" ;
TIMEGRP "TN_XLXN_15064" AREA_GROUP = "CLKAG_XLXN_15064" ;
AREA_GROUP "CLKAG_XLXN_15064" RANGE =   CLOCKREGION_X0Y0, CLOCKREGION_X1Y0, CLOCKREGION_X0Y1, CLOCKREGION_X1Y1, CLOCKREGION_X0Y2, CLOCKREGION_X1Y2, CLOCKREGION_X0Y3, CLOCKREGION_X1Y3, CLOCKREGION_X0Y4, CLOCKREGION_X1Y4 ;

# psi_dig_sdata_clk<2> driven by BUFGCTRL_X0Y29
NET "psi_dig_sdata_clk<2>" TNM_NET = "TN_psi_dig_sdata_clk<2>" ;
TIMEGRP "TN_psi_dig_sdata_clk<2>" AREA_GROUP = "CLKAG_psi_dig_sdata_clk<2>" ;
AREA_GROUP "CLKAG_psi_dig_sdata_clk<2>" RANGE =   CLOCKREGION_X0Y0, CLOCKREGION_X1Y0, CLOCKREGION_X0Y1, CLOCKREGION_X1Y1, CLOCKREGION_X0Y2, CLOCKREGION_X1Y2, CLOCKREGION_X0Y3, CLOCKREGION_X1Y3, CLOCKREGION_X0Y4, CLOCKREGION_X1Y4 ;

# psi_dig_sdata_clk<1> driven by BUFGCTRL_X0Y30
NET "psi_dig_sdata_clk<1>" TNM_NET = "TN_psi_dig_sdata_clk<1>" ;
TIMEGRP "TN_psi_dig_sdata_clk<1>" AREA_GROUP = "CLKAG_psi_dig_sdata_clk<1>" ;
AREA_GROUP "CLKAG_psi_dig_sdata_clk<1>" RANGE =   CLOCKREGION_X0Y0, CLOCKREGION_X1Y0, CLOCKREGION_X0Y1, CLOCKREGION_X1Y1, CLOCKREGION_X0Y2, CLOCKREGION_X1Y2, CLOCKREGION_X0Y3, CLOCKREGION_X1Y3, CLOCKREGION_X0Y4, CLOCKREGION_X1Y4 ;

# psi_dig_sdata_clk<0> driven by BUFGCTRL_X0Y31
NET "psi_dig_sdata_clk<0>" TNM_NET = "TN_psi_dig_sdata_clk<0>" ;
TIMEGRP "TN_psi_dig_sdata_clk<0>" AREA_GROUP = "CLKAG_psi_dig_sdata_clk<0>" ;
AREA_GROUP "CLKAG_psi_dig_sdata_clk<0>" RANGE =   CLOCKREGION_X0Y0, CLOCKREGION_X1Y0, CLOCKREGION_X0Y1, CLOCKREGION_X1Y1, CLOCKREGION_X0Y2, CLOCKREGION_X1Y2, CLOCKREGION_X0Y3, CLOCKREGION_X1Y3, CLOCKREGION_X0Y4, CLOCKREGION_X1Y4 ;

# GTX_CLK_0_sig driven by BUFGCTRL_X0Y0
NET "GTX_CLK_0_sig" TNM_NET = "TN_GTX_CLK_0_sig" ;
TIMEGRP "TN_GTX_CLK_0_sig" AREA_GROUP = "CLKAG_GTX_CLK_0_sig" ;
AREA_GROUP "CLKAG_GTX_CLK_0_sig" RANGE =   CLOCKREGION_X0Y0, CLOCKREGION_X1Y0, CLOCKREGION_X0Y1, CLOCKREGION_X1Y1, CLOCKREGION_X0Y2, CLOCKREGION_X1Y2, CLOCKREGION_X0Y3, CLOCKREGION_X1Y3, CLOCKREGION_X0Y4, CLOCKREGION_X1Y4 ;

# XLXN_12229 driven by BUFGCTRL_X0Y2
NET "XLXN_12229" TNM_NET = "TN_XLXN_12229" ;
TIMEGRP "TN_XLXN_12229" AREA_GROUP = "CLKAG_XLXN_12229" ;
AREA_GROUP "CLKAG_XLXN_12229" RANGE =   CLOCKREGION_X0Y1, CLOCKREGION_X1Y1, CLOCKREGION_X0Y2, CLOCKREGION_X1Y2, CLOCKREGION_X0Y3, CLOCKREGION_X1Y3, CLOCKREGION_X0Y4, CLOCKREGION_X1Y4 ;

# internal_acc_clk driven by MMCME2_ADV_X0Y2
NET "internal_acc_clk" TNM_NET = "TN_internal_acc_clk" ;
TIMEGRP "TN_internal_acc_clk" AREA_GROUP = "CLKAG_internal_acc_clk" ;
AREA_GROUP "CLKAG_internal_acc_clk" RANGE =   CLOCKREGION_X0Y2 ;

# NOTE: 
# This report is provided to help reproduce successful clock-region 
# assignments. The report provides range constraints for all global 
# clock networks, in a format that is directly usable in ucf files. 
#
#END of Global Clock Net Distribution UCF Constraints
######################################################################################