##==============================================
##==============================================
## Converted to CAPTAN+ pins by rrivera on Dec 11, 2017
##==============================================
##==============================================





#NET "PRIMARY_CLK"LOC = AF8 ;
#INST "PRIMARY_CLK" IOSTANDARD = LVCMOS25;


#FLASH_CLK
NET "SECONDARY_CLK"LOC = Y26 ; 
INST "SECONDARY_CLK" IOSTANDARD = LVCMOS25;
NET "SECONDARY_CLK" CLOCK_DEDICATED_ROUTE = TRUE;

##==============================================
#clk in - TP2
NET "BUSDHS_02DP_04S" LOC = AH26;		
INST "BUSDHS_02DP_04S" IOSTANDARD = LVCMOS25;

#NET "BUSDHS_02DN_05S"LOC = A15;
#INST "BUSDHS_02DN_05S" IOSTANDARD = LVCMOS25;

#trig in - TP1
NET "BUSDHS_03DP_06S" LOC = AK25;		
INST "BUSDHS_03DP_06S" IOSTANDARD = LVCMOS25;

#NET "BUSDHS_03DN_07S"LOC = B10;
#INST "BUSDHS_03DN_07S" IOSTANDARD = LVCMOS25;

##==============================================

#i2c datain - J1
NET "BUSC_02DP_04S" LOC = AJ11;
INST "BUSC_02DP_04S" IOSTANDARD = LVDS_25;
NET "BUSC_02DN_05S" LOC = AK11;
INST "BUSC_02DN_05S" IOSTANDARD = LVDS_25;

#tokin - J1
NET "BUSC_03DP_06S" LOC = AJ30;
INST "BUSC_03DP_06S" IOSTANDARD = LVDS_25;
NET "BUSC_03DN_07S" LOC = AK31;
INST "BUSC_03DN_07S" IOSTANDARD = LVDS_25;

#serial dataout - J1
NET "BUSC_07DP_14S" LOC = AN9;
INST "BUSC_07DP_14S" IOSTANDARD = LVDS_25;
NET "BUSC_07DN_15S" LOC = AP9;
INST "BUSC_07DN_15S" IOSTANDARD = LVDS_25;

#tokout - J1
NET "BUSC_09DP_18S" LOC = AL25;
INST "BUSC_09DP_18S" IOSTANDARD = LVDS_25;
NET "BUSC_09DN_19S" LOC = AM25;
INST "BUSC_09DN_19S" IOSTANDARD = LVDS_25;
#trigin - J1
NET "BUSC_10DP_20S" LOC = AN7;
INST "BUSC_10DP_20S" IOSTANDARD = LVDS_25;
NET "BUSC_10DN_21S" LOC = AN6;
INST "BUSC_10DN_21S" IOSTANDARD = LVDS_25;
#clk - J1
NET "BUSC_11DP_22S" LOC = AJ6;
INST "BUSC_11DP_22S" IOSTANDARD = LVDS_25;
NET "BUSC_11DN_23S" LOC = AK6;
INST "BUSC_11DN_23S" IOSTANDARD = LVDS_25;
#rst - J1
NET "BUSC_12DP_24S" LOC = AL30;
INST "BUSC_12DP_24S" IOSTANDARD = LVCMOS25;

##==============================================
#dig-1 on J2
NET "PSI_1_TOKIN_P" LOC = AN33; 
INST "PSI_1_TOKIN_P" IOSTANDARD = LVDS_25;
NET "PSI_1_TOKIN_N" LOC = AP33; 
INST "PSI_1_TOKIN_N" IOSTANDARD = LVDS_25;

NET "PSI_1_TRIG_P" LOC = AN34; 
INST "PSI_1_TRIG_P" IOSTANDARD = LVDS_25;
NET "PSI_1_TRIG_N" LOC = AP34; 
INST "PSI_1_TRIG_N" IOSTANDARD = LVDS_25;

NET "PSI_1_CTRL_P" LOC = AJ33; 
INST "PSI_1_CTRL_P" IOSTANDARD = LVDS_25;
NET "PSI_1_CTRL_N" LOC = AJ34; 
INST "PSI_1_CTRL_N" IOSTANDARD = LVDS_25;

NET "PSI_1_CLK_P" LOC = AK27; 
INST "PSI_1_CLK_P" IOSTANDARD = LVDS_25;
NET "PSI_1_CLK_N" LOC = AL27; 
INST "PSI_1_CLK_N" IOSTANDARD = LVDS_25;

NET "PSI_1_TOKOUT_P" LOC = AL32; 
INST "PSI_1_TOKOUT_P" IOSTANDARD = LVDS_25;
NET "PSI_1_TOKOUT_N" LOC = AM32; 
INST "PSI_1_TOKOUT_N" IOSTANDARD = LVDS_25;

NET "PSI_1_DATA_P" LOC = AM31; 
INST "PSI_1_DATA_P" IOSTANDARD = LVDS_25;
NET "PSI_1_DATA_N" LOC = AN32; 
INST "PSI_1_DATA_N" IOSTANDARD = LVDS_25;

NET "PSI_1_RST" LOC = AL34; 
INST "PSI_1_RST" IOSTANDARD = LVCMOS25;

##==============================================
#dig-2 on J4
NET "PSI_2_TOKIN_P" LOC = AG29; 
INST "PSI_2_TOKIN_P" IOSTANDARD = LVDS_25;
NET "PSI_2_TOKIN_N" LOC = AG30; 
INST "PSI_2_TOKIN_N" IOSTANDARD = LVDS_25;

NET "PSI_2_TRIG_P" LOC = AH28; 
INST "PSI_2_TRIG_P" IOSTANDARD = LVDS_25;
NET "PSI_2_TRIG_N" LOC = AH29; 
INST "PSI_2_TRIG_N" IOSTANDARD = LVDS_25;

NET "PSI_2_CTRL_P" LOC = AF25; 
INST "PSI_2_CTRL_P" IOSTANDARD = LVDS_25;
NET "PSI_2_CTRL_N" LOC = AG25; 
INST "PSI_2_CTRL_N" IOSTANDARD = LVDS_25;

NET "PSI_2_CLK_P" LOC = AD28; 
INST "PSI_2_CLK_P" IOSTANDARD = LVDS_25;
NET "PSI_2_CLK_N" LOC = AD29; 
INST "PSI_2_CLK_N" IOSTANDARD = LVDS_25;

NET "PSI_2_TOKOUT_P" LOC = AD26; 
INST "PSI_2_TOKOUT_P" IOSTANDARD = LVDS_25;
NET "PSI_2_TOKOUT_N" LOC = AE26; 
INST "PSI_2_TOKOUT_N" IOSTANDARD = LVDS_25;

NET "PSI_2_DATA_P" LOC = AH33; 
INST "PSI_2_DATA_P" IOSTANDARD = LVDS_25;
NET "PSI_2_DATA_N" LOC = AH34; 
INST "PSI_2_DATA_N" IOSTANDARD = LVDS_25;

NET "PSI_2_RST" LOC = AD33; 
INST "PSI_2_RST" IOSTANDARD = LVCMOS25;

##==============================================
# Ethernet





NET "GEL_RXCLK" LOC = Y30;
NET "GEL_RXCLK" IOSTANDARD = LVCMOS25;
NET "GEL_RXCLK" CLOCK_DEDICATED_ROUTE = TRUE;

NET "BUSC_21DN_43S" LOC = Y33;#NET "PHY_RESET" LOC = AA26; #Y26;
INST "BUSC_21DN_43S" IOSTANDARD = LVCMOS25;

NET "BUSC_26DN_53S" LOC = Y31;#NET "GTX_CLK_0" LOC = AD23; #U26;
INST "BUSC_26DN_53S" IOSTANDARD = LVCMOS25;

NET "PHY_RXCTL_RXDV" LOC = V31;#NET "GMII_RX_DV_0" LOC = AC23; #N23;
INST "PHY_RXCTL_RXDV" IOSTANDARD = LVCMOS25;
NET "PHY_RXER" LOC = AA32 ;#NET "GMII_RX_ER_0" LOC = W21; #V26;
INST "PHY_RXER" IOSTANDARD = LVCMOS25;

NET "PHY_RXD0" LOC = V24 ;#NET "GMII_RXD_0<0>" LOC = W24; #V23;
INST "PHY_RXD0" IOSTANDARD = LVCMOS25;
NET "PHY_RXD1" LOC = W25 ;#NET "GMII_RXD_0<1>" LOC = W23; #U23;
INST "PHY_RXD1" IOSTANDARD = LVCMOS25;
NET "PHY_RXD2" LOC = W24;#NET "GMII_RXD_0<2>" LOC = V20; #AB18;
INST "PHY_RXD2" IOSTANDARD = LVCMOS25;
NET "PHY_RXD3" LOC = Y28 ;#NET "GMII_RXD_0<3>" LOC = W20; #AC18;
INST "PHY_RXD3" IOSTANDARD = LVCMOS25;
NET "PHY_RXD4" LOC = Y25 ;#NET "GMII_RXD_0<4>" LOC = Y26; #M20;
INST "PHY_RXD4" IOSTANDARD = LVCMOS25;
NET "PHY_RXD5" LOC = AA25 ;#NET "GMII_RXD_0<5>" LOC = Y25; #M21;
INST "PHY_RXD5" IOSTANDARD = LVCMOS25;
NET "PHY_RXD6" LOC = AA24;#NET "GMII_RXD_0<6>" LOC = AB25; #AE24;
INST "PHY_RXD6" IOSTANDARD = LVCMOS25;
NET "PHY_RXD7" LOC = AB25;#NET "GMII_RXD_0<7>" LOC = AB24; #AF24;
INST "PHY_RXD7" IOSTANDARD = LVCMOS25;


NET "BUSC_27DN_55S"LOC = V32;#NET "PHY_TXEN" LOC = AC24; #N22;
INST "BUSC_27DN_55S" IOSTANDARD = LVCMOS25;
NET "BUSC_16DN_33S"LOC = V33 ;#NET "PHY_TXER" LOC = W22; #V25;
INST "BUSC_16DN_33S" IOSTANDARD = LVCMOS25;

NET "BUSC_14DP_28S"LOC = AC31 ;#NET "PHY_TXD<7>" LOC = 	V21; #M25;
INST "BUSC_14DP_28S" IOSTANDARD = LVCMOS25;
NET "BUSC_14DN_29S"LOC = AB26 ;#NET "PHY_TXD<6>" LOC = V22; #M24;
INST "BUSC_14DN_29S" IOSTANDARD = LVCMOS25;
NET "BUSC_15DP_30S"LOC = AB27 ;#NET "PHY_TXD<5>" LOC = W25; #L24;
INST "BUSC_15DP_30S" IOSTANDARD = LVCMOS25;
NET "BUSC_15DN_31S"LOC = AA27 ;#NET "PHY_TXD<4>" LOC = W26; #L23;
INST "BUSC_15DN_31S" IOSTANDARD = LVCMOS25;
NET "BUSC_24DP_48S"LOC = AA28;#NET "PHY_TXD<3>" LOC = AC22; #N25;
INST "BUSC_24DP_48S" IOSTANDARD = LVCMOS25;
NET "BUSC_24DN_49S"LOC = Y32;#NET "PHY_TXD<2>" LOC = AB22; #N24;
INST "BUSC_24DN_49S" IOSTANDARD = LVCMOS25;
NET "BUSC_25DP_50S"LOC = W26;#NET "PHY_TXD<1>" LOC = AB23; #AA19;
INST "BUSC_25DP_50S" IOSTANDARD = LVCMOS25;
NET "BUSC_25DN_51S"LOC = W28;#NET "PHY_TXD<0>" LOC = AA23; #AA20;
INST "BUSC_25DN_51S" IOSTANDARD = LVCMOS25;







##==============================================

##==============================================

##==============================================
#Timing





NET "SECONDARY_CLK" TNM_NET = SECONDARY_CLK;
TIMESPEC TS_SECONDARY_CLK = PERIOD "SECONDARY_CLK" 40 MHz HIGH 50%;

NET "GEL_RXCLK" TNM_NET = GEL_RXCLK;
TIMESPEC TS_GEL_RXCLK = PERIOD "GEL_RXCLK" 8 ns HIGH 50%;
#NET "MASTER_CLK" TNM_NET = MASTER_CLK;
#TIMESPEC TS_MASTER_CLK = PERIOD "MASTER_CLK" 8 ns HIGH 50%;


# GMII interface clocks.  RXCLK is used to drive TXCLK.
INST "PHY_RXD*" TNM = "TG_RX";
INST "PHY_RXER" TNM = "TG_RX";
INST "PHY_RXCTL_RXDV" TNM = "TG_RX";
#NET "GEL_RXCLK" TNM_NET = "TN_RXCLK";
#TIMESPEC "TS_RXCLK" = PERIOD "TN_RXCLK" 8 ns HIGH 50%;
# INPUT_JITTER 80 ps;
TIMEGRP "TG_RX" OFFSET = IN 0 ns VALID 4 NS BEFORE "GEL_RXCLK" RISING;



NET "XLXN_15849" TNM_NET = XLXN_15849;
TIMESPEC TS_XLXN_15849 = PERIOD "XLXN_15849" 40 MHz HIGH 50%; ##muxed psi input clock

NET "XLXN_18355" TNM_NET = XLXN_18355;
TIMESPEC TS_XLXN_18355 = PERIOD "XLXN_18355" 160 MHz HIGH 50%; ##DIG CLK 0
NET "XLXN_18372" TNM_NET = XLXN_18372;
TIMESPEC TS_XLXN_18372 = PERIOD "XLXN_18372" 160 MHz HIGH 50%; ##DIG CLK 1
#NET "XLXN_18597" TNM_NET = XLXN_18597;
#TIMESPEC TS_XLXN_18597 = PERIOD "XLXN_18597" 8 ns HIGH 50%; ##DIG CLK 2


INST "XLXI_4776" TIG; #trying to ignore "XLXI_4776/adc_clk_sel" 

#NET "XLXI_5685/XLXN_14691" TNM_NET = XLXI_5685XLXN_14691;
#TIMESPEC TS_XLXI_5685XLXN_14691 = PERIOD "XLXI_5685XLXN_14691" 17 ns HIGH 50%; ##ADC CLK IN

#NET "MASTER_CLK" TNM_NET = "MASTER_CLK";
#NET "ACC_CLK_IN" TNM_NET = "ACC_CLK_IN";
#TIMESPEC "TS_accclk_to_mclk" = FROM "ACC_CLK_IN" TO "MASTER_CLK" 8.0 ns DATAPATHONLY;
#TIMESPEC "TS_mclk_to_accclk" = FROM "MASTER_CLK" TO "ACC_CLK_IN" 8.0 ns DATAPATHONLY;




#NET "XLXI_5685/adc_delayed_clk" TNM_NET = adc_delayed_clk;
#TIMESPEC TS_adc_delayed_clk = PERIOD "adc_delayed_clk" 8 ns HIGH 50%; #put some sort of constraint on this clock


#NET "XLXN_12498" TNM_NET = "XLXN_12498";  #false path from any signal in XLXN_12498 source clock .. it is the slooow RESET clock
#TIMESPEC "TS_rstclk_to_all" = FROM "XLXN_12498" 16.0 ns DATAPATHONLY;

TIMESPEC "TS_digsclk_to_rstmclk" = FROM "psi_dig_sdata_clk0" TO "XLXN_12498" 8.0 ns DATAPATHONLY;
TIMESPEC "TS_rstmclk_to_digsclk" = FROM "XLXN_12498" TO "psi_dig_sdata_clk(0)" 8.0 ns DATAPATHONLY;
TIMESPEC "TS_digsclk1_to_rstmclk" = FROM "psi_dig_sdata_clk1" TO "XLXN_12498" 8.0 ns DATAPATHONLY;
TIMESPEC "TS_rstmclk_to_digsclk1" = FROM "XLXN_12498" TO "psi_dig_sdata_clk1" 8.0 ns DATAPATHONLY;
TIMESPEC "TS_digsclk2_to_rstmclk" = FROM "psi_dig_sdata_clk2" TO "XLXN_12498" 8.0 ns DATAPATHONLY;
TIMESPEC "TS_rstmclk_to_digsclk2" = FROM "XLXN_12498" TO "psi_dig_sdata_clk2" 8.0 ns DATAPATHONLY;

TIMESPEC "TS_mclk_to_rstmclk" = FROM "MASTER_CLK" TO "XLXN_12498" 8.0 ns DATAPATHONLY;
TIMESPEC "TS_rstmclk_to_mclk" = FROM "XLXN_12498" TO "MASTER_CLK" 8.0 ns DATAPATHONLY;



#TIMESPEC "TS_digsclk_to_psi90mclk" = FROM "psi_dig_sdata_clk0" TO "XLXN_15111" 8.0 ns DATAPATHONLY;
#TIMESPEC "TS_psi90mclk_to_digsclk" = FROM "XLXN_15111" TO "psi_dig_sdata_clk0" 8.0 ns DATAPATHONLY;
#TIMESPEC "TS_digsclk1_to_psi90mclk" = FROM "psi_dig_sdata_clk1" TO "XLXN_15111" 8.0 ns DATAPATHONLY;
#TIMESPEC "TS_psi90mclk_to_digsclk1" = FROM "XLXN_15111" TO "psi_dig_sdata_clk1" 8.0 ns DATAPATHONLY;

#set to datapathonly anything related to psi clk and master clk
NET "psi_dig_sdata_clk(0)" TNM_NET = "psi_dig_sdata_clk0";
TIMESPEC "TS_digsclk_to_mclk" = FROM "psi_dig_sdata_clk" TO "MASTER_CLK" 8.0 ns DATAPATHONLY;
TIMESPEC "TS_mclk_to_digsclk" = FROM "MASTER_CLK" TO "psi_dig_sdata_clk" 8.0 ns DATAPATHONLY;

NET "psi_dig_sdata_clk(1)" TNM_NET = "psi_dig_sdata_clk1";
TIMESPEC "TS_digsclk1_to_mclk" = FROM "psi_dig_sdata_clk1" TO "MASTER_CLK" 8.0 ns DATAPATHONLY;
TIMESPEC "TS_mclk_to_digsclk1" = FROM "MASTER_CLK" TO "psi_dig_sdata_clk1" 8.0 ns DATAPATHONLY;

NET "psi_dig_sdata_clk(2)" TNM_NET = "psi_dig_sdata_clk2";
TIMESPEC "TS_digsclk2_to_mclk" = FROM "psi_dig_sdata_clk2" TO "MASTER_CLK" 8.0 ns DATAPATHONLY;
TIMESPEC "TS_mclk_to_digsclk2" = FROM "MASTER_CLK" TO "psi_dig_sdata_clk2" 8.0 ns DATAPATHONLY;


#NET "GTX_CLK_0_sig" TNM_NET = "GTX_CLK_0_sig";
TIMESPEC "TS_digsclk_to_gtxclk" = FROM "psi_dig_sdata_clk" TO "GEL_RXCLK" 8.0 ns DATAPATHONLY;
TIMESPEC "TS_gtxclk_to_digsclk" = FROM "GEL_RXCLK" TO "psi_dig_sdata_clk" 8.0 ns DATAPATHONLY;
TIMESPEC "TS_digsclk1_to_gtxclk" = FROM "psi_dig_sdata_clk1" TO "GEL_RXCLK" 8.0 ns DATAPATHONLY;
TIMESPEC "TS_gtxclk_to_digsclk1" = FROM "GEL_RXCLK" TO "psi_dig_sdata_clk1" 8.0 ns DATAPATHONLY;
TIMESPEC "TS_digsclk2_to_gtxclk" = FROM "psi_dig_sdata_clk2" TO "GEL_RXCLK" 8.0 ns DATAPATHONLY;
TIMESPEC "TS_gtxclk_to_digsclk2" = FROM "GEL_RXCLK" TO "psi_dig_sdata_clk2" 8.0 ns DATAPATHONLY;
##########################################################




#NET "EXT_CLK_IN" TNM_NET = EXT_CLK_IN;


#NET "XLXN_15849" TNM_NET = XLXN_15849;

#TIMESPEC TS_XLXN_15849 = PERIOD "XLXN_15849" 28 MHz HIGH 50%;


#Created by Constraints Editor (xc4vlx25-ff668-10) - 2011/09/17
#NET "BUSA_12DN_25S" TNM_NET = BUSA_12DN_25S;
#TIMESPEC TS_BUSA_12DN_25S = PERIOD "BUSA_12DN_25S" 35 ns HIGH 50%;
#NET "BUSA_12DP_24S" TNM_NET = BUSA_12DP_24S;
#TIMESPEC TS_BUSA_12DP_24S = PERIOD "BUSA_12DP_24S" 35 ns HIGH 50%;
#NET "BUSDHS_00DN_01S" TNM_NET = BUSDHS_00DN_01S;
#TIMESPEC TS_BUSDHS_00DN_01S = PERIOD "BUSDHS_00DN_01S" 17 ns HIGH 50%;
#NET "BUSDHS_00DP_00S" TNM_NET = BUSDHS_00DP_00S;
#TIMESPEC TS_BUSDHS_00DP_00S = PERIOD "BUSDHS_00DP_00S" 17 ns HIGH 50%;
