
NET "PHY_RXCLK" LOC = U27;
NET "PHY_RXCLK" IOSTANDARD = LVCMOS25;
NET "PHY_RXCLK" CLOCK_DEDICATED_ROUTE = TRUE;

NET "USER_CLOCK_P" LOC = AD12;
NET "USER_CLOCK_P" IOSTANDARD = LVDS;
NET "USER_CLOCK_N" LOC = AD11;
NET "USER_CLOCK_N" IOSTANDARD = LVDS;


NET "PHY_RXCTL_DV" LOC = R28;
NET "PHY_RXCTL_DV" IOSTANDARD = LVCMOS25;
NET "PHY_RXER" LOC = V26;
NET "PHY_RXER" IOSTANDARD = LVCMOS25;
NET "PHY_RXD0" LOC = U30;
NET "PHY_RXD0" IOSTANDARD = LVCMOS25;
NET "PHY_RXD1" LOC = U25;
NET "PHY_RXD1" IOSTANDARD = LVCMOS25;
NET "PHY_RXD2" LOC = T25;
NET "PHY_RXD2" IOSTANDARD = LVCMOS25;
NET "PHY_RXD3" LOC = U28;
NET "PHY_RXD3" IOSTANDARD = LVCMOS25;
NET "PHY_RXD4" LOC = R19;
NET "PHY_RXD4" IOSTANDARD = LVCMOS25;
NET "PHY_RXD5" LOC = T27;
NET "PHY_RXD5" IOSTANDARD = LVCMOS25;
NET "PHY_RXD6" LOC = T26;
NET "PHY_RXD6" IOSTANDARD = LVCMOS25;
NET "PHY_RXD7" LOC = T28;
NET "PHY_RXD7" IOSTANDARD = LVCMOS25;

NET "PHY_TXC_GTXCLK" LOC = K30;
NET "PHY_TXC_GTXCLK" IOSTANDARD = LVCMOS25;

NET "PHY_TXCTL_EN" LOC = M27;
NET "PHY_TXCTL_EN" IOSTANDARD = LVCMOS25;
NET "PHY_TXER" LOC = N29;
NET "PHY_TXER" IOSTANDARD = LVCMOS25;
NET "PHY_TXD0" LOC = N27;
NET "PHY_TXD0" IOSTANDARD = LVCMOS25;
NET "PHY_TXD1" LOC = N25;
NET "PHY_TXD1" IOSTANDARD = LVCMOS25;
NET "PHY_TXD2" LOC = M29;
NET "PHY_TXD2" IOSTANDARD = LVCMOS25;
NET "PHY_TXD3" LOC = L28;
NET "PHY_TXD3" IOSTANDARD = LVCMOS25;
NET "PHY_TXD4" LOC = J26;
NET "PHY_TXD4" IOSTANDARD = LVCMOS25;
NET "PHY_TXD5" LOC = K26;
NET "PHY_TXD5" IOSTANDARD = LVCMOS25;
NET "PHY_TXD6" LOC = L30;
NET "PHY_TXD6" IOSTANDARD = LVCMOS25;
NET "PHY_TXD7" LOC = J28;
NET "PHY_TXD7" IOSTANDARD = LVCMOS25;

NET "PHY_RESET" LOC = L20;
NET "PHY_RESET" IOSTANDARD = LVCMOS25;

NET "GPIO_SW_W" LOC = AC6;
NET "GPIO_SW_W" IOSTANDARD = LVCMOS15;

#Created by Constraints Editor (xc4vlx25-ff668-10) - 2011/09/17
NET "secondary_clk" TNM_NET = secondary_clk;
NET "PHY_RXCLK" TNM_NET = PHY_RXCLK;
TIMESPEC TS_PHY_RXCLK = PERIOD "PHY_RXCLK" 8 ns HIGH 50%;
#Created by Constraints Editor (xc6vlx240t-ff1156-1) - 2012/08/15
NET "USER_CLK" TNM_NET = USER_CLK;
TIMESPEC TS_USER_CLK = PERIOD "USER_CLK" 200 MHz HIGH 50%;
NET "XLXN_18178" TNM_NET = XLXN_18178;
TIMESPEC TS_XLXN_18178 = PERIOD "XLXN_18178" 100 MHz HIGH 50%;
NET "XLXN_18179" TNM_NET = XLXN_18179;
TIMESPEC TS_XLXN_18179 = PERIOD "XLXN_18179" 50 MHz HIGH 50%;
NET "XLXN_18180" TNM_NET = XLXN_18180;
TIMESPEC TS_XLXN_18180 = PERIOD "XLXN_18180" 25 MHz HIGH 50%;
NET "XLXN_18181" TNM_NET = XLXN_18181;
TIMESPEC TS_XLXN_18181 = PERIOD "XLXN_18181" 25 MHz HIGH 50%;
NET "XLXN_18184" TNM_NET = XLXN_18184;
TIMESPEC TS_XLXN_18184 = PERIOD "XLXN_18184" 25 MHz HIGH 50%;
