# constraints for CAPTAN+
# Modified Jan 2018 by rrivera at fnal dot gov



####################################################################################
# Constraints for Ethernet (GEL) pins
####################################################################################
NET "MASTER_CLK" CLOCK_DEDICATED_ROUTE = TRUE;

NET "PHY_RXCLK" LOC = Y30;
NET "PHY_RXCLK" IOSTANDARD = LVCMOS25;


	#NET "SECONDARY_CLK" LOC = AA30 ; 
	#INST "SECONDARY_CLK" IOSTANDARD = LVCMOS25;


NET "PHY_RXCTL_RXDV" LOC = V31;
INST "PHY_RXCTL_RXDV" IOSTANDARD = LVCMOS25;

	#RGMII uses the CTL line
	#NET "PHY_RXER" LOC = AA32 ;
	#INST "PHY_RXER" IOSTANDARD = LVCMOS25;



NET "PHY_RXD0" LOC = V24;
INST "PHY_RXD0" IOSTANDARD = LVCMOS25;
NET "PHY_RXD1" LOC = W25;
INST "PHY_RXD1" IOSTANDARD = LVCMOS25;
NET "PHY_RXD2" LOC = W24;
INST "PHY_RXD2" IOSTANDARD = LVCMOS25;
NET "PHY_RXD3" LOC = Y28;
INST "PHY_RXD3" IOSTANDARD = LVCMOS25;
NET "PHY_RXD4" LOC = Y25;
INST "PHY_RXD4" IOSTANDARD = LVCMOS25;
NET "PHY_RXD5" LOC = AA25;
INST "PHY_RXD5" IOSTANDARD = LVCMOS25;
NET "PHY_RXD6" LOC = AA24;
INST "PHY_RXD6" IOSTANDARD = LVCMOS25;
NET "PHY_RXD7" LOC = AB25;
INST "PHY_RXD7" IOSTANDARD = LVCMOS25;

#NET "PHY_TXC_GTXCLK" CLOCK_DEDICATED_ROUTE = TRUE;
NET "PHY_TXC_GTXCLK" LOC = Y31;
INST "PHY_TXC_GTXCLK" IOSTANDARD = LVCMOS25;


NET "PHY_TXCTL_TXEN" LOC = V32;
INST "PHY_TXCTL_TXEN" IOSTANDARD = LVCMOS25;
NET "PHY_TXER" LOC = V33 ;
INST "PHY_TXER" IOSTANDARD = LVCMOS25;


NET "PHY_TXD7" LOC = AC31;
INST "PHY_TXD7" IOSTANDARD = LVCMOS25;
NET "PHY_TXD6" LOC = AB26;
INST "PHY_TXD6" IOSTANDARD = LVCMOS25;
NET "PHY_TXD5" LOC = AB27;
INST "PHY_TXD5" IOSTANDARD = LVCMOS25;
NET "PHY_TXD4" LOC = AA27;
INST "PHY_TXD4" IOSTANDARD = LVCMOS25;
NET "PHY_TXD3" LOC = AA28;
INST "PHY_TXD3" IOSTANDARD = LVCMOS25;
NET "PHY_TXD2" LOC = Y32;
INST "PHY_TXD2" IOSTANDARD = LVCMOS25;
NET "PHY_TXD1" LOC = W26;
INST "PHY_TXD1" IOSTANDARD = LVCMOS25;
NET "PHY_TXD0" LOC = W28;
INST "PHY_TXD0" IOSTANDARD = LVCMOS25;


NET "PHY_RESET" LOC = Y33;
INST "PHY_RESET" IOSTANDARD = LVCMOS25;

#NET "FLASH_CLK" LOC = Y26;
#INST "FLASH_CLK" IOSTANDARD = LVCMOS25;


