.signalTable {
    font-family: Arial, sans-serif;
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px
}

.signalTable td, th {
    font-size: 1em;
    padding: 0px 0px 2px 3px;
}

.buttonColumn{
    width: 90px;
    height: 40px;
    overflow:hidden;
    background-color: #FFFFFF;
    border-collapse: collapse;


}

fill{ 
    margin-top: 0px;
    height:100%; 
    width:95%;
    display:inline-block;
    position:relative;

}

.signal {
    font-size: 1.1em;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #005CE6;
    color: #ffffff;
    width:17.5%;
}

.channel {
    width:15%;
    font-size: 1.1em;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #4D94FF;
    color: #ffffff;
}

.value {
    width:15%;
    font-size: 1.1em;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #CCE0FF;
    color: #ffffff;

}

.data {
    width:auto;
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #CCE0FF;
    color: #ffffff;
}


.signalTable tr.alt td {
    background-color: #e4e4eb;
    color: #000000;
}


.toggle {
        margin-left: 300px;
}
.clickable1, .clickable2, .clickable3, .clickable4 {
    cursor: pointer;
    text-decoration: underline;
        padding: 0px 0px 0px 0px;

}

.clearCell {

        background-color: #FFFFFF;

}

.notChannel{
    
    background: linear-gradient(to left, #005CE6 90%, #4D94FF 20%) !important;

}

.notSignal{

    background: linear-gradient(to left, #4D94FF 90%, #005CE6 20%) !important;

}

.notValue{
    background: linear-gradient(to left, #005CE6 90%, #005CE6 20%) !important;

}



