
NET "PHY_RXCLK" LOC = T26;
NET "PHY_RXCLK" IOSTANDARD = LVCMOS25;
#NET "PHY_RXCLK" CLOCK_DEDICATED_ROUTE = TRUE;

NET "USER_CLOCK" LOC = U27;
NET "USER_CLOCK" IOSTANDARD = LVCMOS25;
#NET "USER_CLOCK_P" LOC = U27;
#NET "USER_CLOCK_P" IOSTANDARD = LVDS;
#NET "USER_CLOCK_N" LOC = AD11;
#NET "USER_CLOCK_N" IOSTANDARD = LVDS;


NET "PHY_RXCTL_DV" LOC = W19;
NET "PHY_RXCTL_DV" IOSTANDARD = LVCMOS25;
NET "PHY_RXER" LOC = V26;
NET "PHY_RXER" IOSTANDARD = LVCMOS25;
NET "PHY_RXD0" LOC = V29;
NET "PHY_RXD0" IOSTANDARD = LVCMOS25;
NET "PHY_RXD1" LOC = V30;
NET "PHY_RXD1" IOSTANDARD = LVCMOS25;
NET "PHY_RXD2" LOC = V25;
NET "PHY_RXD2" IOSTANDARD = LVCMOS25;
NET "PHY_RXD3" LOC = W26;
NET "PHY_RXD3" IOSTANDARD = LVCMOS25;
NET "PHY_RXD4" LOC = W23;
NET "PHY_RXD4" IOSTANDARD = LVCMOS25;
NET "PHY_RXD5" LOC = W24;
NET "PHY_RXD5" IOSTANDARD = LVCMOS25;
NET "PHY_RXD6" LOC = U22;
NET "PHY_RXD6" IOSTANDARD = LVCMOS25;
NET "PHY_RXD7" LOC = U23;
NET "PHY_RXD7" IOSTANDARD = LVCMOS25;

NET "PHY_TXC_GTXCLK" LOC = T27;
NET "PHY_TXC_GTXCLK" IOSTANDARD = LVCMOS25;

NET "PHY_TXCTL_EN" LOC = R19;
NET "PHY_TXCTL_EN" IOSTANDARD = LVCMOS25;
NET "PHY_TXER" LOC = R23;
NET "PHY_TXER" IOSTANDARD = LVCMOS25;
NET "PHY_TXD0" LOC = P28;
NET "PHY_TXD0" IOSTANDARD = LVCMOS25;
NET "PHY_TXD1" LOC = P27;
NET "PHY_TXD1" IOSTANDARD = LVCMOS25;
NET "PHY_TXD2" LOC = R29;
NET "PHY_TXD2" IOSTANDARD = LVCMOS25;
NET "PHY_TXD3" LOC = P29;
NET "PHY_TXD3" IOSTANDARD = LVCMOS25;
NET "PHY_TXD4" LOC = T23;
NET "PHY_TXD4" IOSTANDARD = LVCMOS25;
NET "PHY_TXD5" LOC = T22;
NET "PHY_TXD5" IOSTANDARD = LVCMOS25;
NET "PHY_TXD6" LOC = T21;
NET "PHY_TXD6" IOSTANDARD = LVCMOS25;
NET "PHY_TXD7" LOC = T20;
NET "PHY_TXD7" IOSTANDARD = LVCMOS25;

NET "PHY_RESET" LOC = U20;
NET "PHY_RESET" IOSTANDARD = LVCMOS25;


#Created by Constraints Editor (xc4vlx25-ff668-10) - 2011/09/17
NET "secondary_clk" TNM_NET = secondary_clk;
NET "PHY_RXCLK" TNM_NET = PHY_RXCLK;
TIMESPEC TS_PHY_RXCLK = PERIOD "PHY_RXCLK" 8 ns HIGH 50%;
#Created by Constraints Editor (xc6vlx240t-ff1156-1) - 2012/08/15
NET "USER_CLK" TNM_NET = USER_CLK;
TIMESPEC TS_USER_CLK = PERIOD "USER_CLK" 200 MHz HIGH 50%;
NET "XLXN_18178" TNM_NET = XLXN_18178;
TIMESPEC TS_XLXN_18178 = PERIOD "XLXN_18178" 100 MHz HIGH 50%;
NET "XLXN_18179" TNM_NET = XLXN_18179;
TIMESPEC TS_XLXN_18179 = PERIOD "XLXN_18179" 50 MHz HIGH 50%;
NET "XLXN_18180" TNM_NET = XLXN_18180;
TIMESPEC TS_XLXN_18180 = PERIOD "XLXN_18180" 25 MHz HIGH 50%;
NET "XLXN_18181" TNM_NET = XLXN_18181;
TIMESPEC TS_XLXN_18181 = PERIOD "XLXN_18181" 25 MHz HIGH 50%;
NET "XLXN_18184" TNM_NET = XLXN_18184;
TIMESPEC TS_XLXN_18184 = PERIOD "XLXN_18184" 25 MHz HIGH 50%;
